.header {
  background: #163c7c;
  color: #f3f4f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 24px; /* Ajustado para alinhamento vertical */
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between; /* <-- MODIFICADO */
  height: 64px;
}

.header p {
  margin: 0;
}

/* VVV ADICIONAR ESTILOS VVV */
.user-selector {
  /* Estilo para o seletor de usuário (mat-form-field) */
}

/* Estes seletores complexos do Material ajustam as cores
  do formulário 'outline' para ficarem visíveis no header escuro.
*/
.user-selector .mat-mdc-form-field {
  height: 56px;
  margin-top: 8px; /* Ajuste para centralizar */
  --mdc-outlined-text-field-label-text-color: #f3f4f6;
  --mdc-outlined-text-field-outline-color: rgba(255,255,255,0.3);
  --mdc-select-trigger-text-color: #f3f4f6;
  --mdc-select-arrow-color: #f3f4f6;
}
.user-selector .mat-mdc-text-field-wrapper {
  height: 48px; /* Reduz altura do campo */
}
