<nav class="header">
  <h2>Unipar Invest</h2>

  <div class="user-selector">
    @if (usuarios.length > 0) {
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <mat-select [(ngModel)]="usuarioSelecionadoId" (ngModelChange)="onUsuarioChange()">
          @for (usuario of usuarios; track usuario.id) {
            <mat-option [value]="usuario.id">
              {{ usuario.nome }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
</nav>
