.header {
  background: #163c7c;
  color: #f3f4f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}

.user-selector {
  height: 56px;
}

.user-selector .mat-mdc-form-field {
  --mat-form-field-outlined-focus-label-text-color: white;
  --mat-form-field-outlined-focus-outline-color: white;
  --mat-form-field-outlined-hover-label-text-color: white;
  --mat-form-field-outlined-label-text-color: white;
  --mat-form-field-outlined-outline-color: white;
  --mat-select-enabled-arrow-color: white;
  --mat-select-enabled-trigger-text-color: white;
  --mat-select-focused-arrow-color: white;
  --mdc-outlined-text-field-label-text-color: #f3f4f6;
  --mdc-outlined-text-field-outline-color: rgba(255,255,255,255);
  --mdc-select-arrow-color: white;
  --mdc-select-trigger-text-color: #f3f4f6;
  --mat-sys-on-surface: #1788d3;
}
